@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root {
  --font-main: 'Inter', sans-serif;

  --color-background: #111015;
  --color-card-bg: #1a1920;
  --color-primary: #a855f7;
  /* A nice purple */
  --color-primary-hover: #9333ea;
  --color-text-light: #e2e8f0;
  --color-text-medium: #94a3b8;
  --color-text-dark: #64748b;
  --color-border: #334155;
  --color-success: #22c55e;
  --color-error: #ef4444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-text-light);
  background-image:
    radial-gradient(var(--color-border) 0.5px, transparent 0.5px),
    radial-gradient(var(--color-border) 0.5px, var(--color-background) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

button {
  font-family: var(--font-main);
  cursor: pointer;
}